$color0: #342C5B; /*azul*/
$color1: #38416F; /*celeste*/
$color2: #6C757D; /*celesteintermedio*/
$color3: #C1E0EA; /*celesteclaro*/
$color4: #DDDDDD; /*grisintermedio*/
$color5: #F4F4F4; /*grisclaro*/
$color6: #755ADF; /*violetgradient*/


body{
	font-family: 'Roboto', sans-serif;
	color: $color2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	color: $color0;
	font-size: 60px;
}
h2 {
	color: $color0;
	font-size: 25px;
}
h3,h4 {
	
	font-size: 10px;
	text-align:center;
}
h5{
	color: $color0;
}

.bg-color0{
 background-color: $color0;
}
.color0{
	color:$color0;
}
.bg-color1{
 background-color: $color1;
}
.color1{
	color:$color1;
}
.bg-color2{
	background-color: $color2;
}
.color2{
	color:$color2;
}
.bg-color3{
 background-color: $color3;
}
.color3{
	color:$color3;
}
.bg-color4{
 background-color: $color4;
}
.color4{
	color:$color4;
}
.bg-color5{
	background-color: $color5;
}
.color5{
	color:$color5;
}	
.bg-color6{
	background-color: $color6;
}
.color6{
	color:$color6;
}

section {
	padding: 10px 0;
 }

.btn-primary {
    color: #fff;
    background-color: $color6;
    border-color: $color6; 


   &:hover {
        color: #fff;
        background-color: darken($color6, 20%);
        border-color: darken($color6, 20%);
   }
   &:active:focus{
   	    box-shadow: none;
   }
   &:focus{
   	    background-color:$color6;
        border-color: $color6;
        box-shadow: none;
   }
 
}
.btn-outline-success {
    color: $color2;
    background-color: $color5;
    border-color: $color5; 

   &:hover {
        color: #fff;
        background-color: darken($color5, 20%);
        border-color: darken($color5, 20%);
   }
   &:active:focus{
   	    box-shadow: none;
   }
   &:focus{
   	    background-color:$color5;
        border-color: $color5;
        box-shadow: none;
   }
 
}
.nav-item{
	padding: 16px 16px;
}
.card-title{
	text-decoration: underline;
}

.card{
	padding: 8px 8px;
	margin: 8px 8px;
}

.fixed-bottom{
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 1030;
    padding: 10px 10px;
 }

 .arrowUp{
 	text-align: center
 }
	

